#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 0px 15px;
	color: #ffffff;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	color: #dee3fd;
	text-align: center;
	text-decoration: none}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin:  0;
	padding: 0;
	color: #4c59e0;
		font: bold 11px arial
}

	#sddm div a
	{	position: relative;
		top: 8px;
		left: 5px;
		display: block;
		top-margin: 100;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		border:2px solid #cecece;
                text-align: left;
		font-weight:  bold;
		text-decoration: none;
		background-color: #ffffff;
		color: #4c59e0;
		font: bold 11px arial}

	#sddm div a:hover
	{	
		background-color: #b6bdf5;
		color: #FFFfff;
		font: bold 11px arial;
		text-align: left;
		text-decoration: none;
		}
		
		
#sddm2

{	
	color: #4c59e0;
	margin: 0;
	padding: 0;
	z-index: 30}

#sddm2 li
{	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial}

#sddm2 li a
{	display: block;
	margin: 0 1px 0 0;
	padding-left:     8px; 
	padding-right:     4px; 
	color: #4c59e0;
	text-align: center;
	text-decoration: none}

#sddm2 li a:hover
{	color: #4c59e0;
	text-align: center;
	text-decoration: none}

#sddm2 div
{	position: absolute;
	visibility: hidden;
	margin:  0;
	padding: 0;
	color: #4c59e0;
		font: bold 11px arial
}

	#sddm2 div a
	{	position: relative;
		top: 8px;
		left: 5px;
		display: block;
		top-margin: 100;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		border:2px solid #cecece;
                text-align: left;
		font-weight:  bold;
		text-decoration: none;
		background-color: #ffffff;
		color: #4c59e0;
		font: bold 11px arial}

	#sddm2 div a:hover
	{	
		background-color: #b6bdf5;
		color: #FFFfff;
		font: bold 11px arial;
		text-align: left;
		text-decoration: none;
		}

